<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<!-- Definicja kontenera głównego frameworku Spring współdzielonego przez 
		wszystkie serwlety i filtry -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	<context-param>
		<param-name>home</param-name>
		<param-value>/bookstore</param-value>
	</context-param>
	<context-param>
		<param-name>imageURL</param-name>
		<param-value>/bookstore/images</param-value>
	</context-param>

	<!-- Tworzy kontener frameworku Spring współdzielony przez wszystkie serwlety 
		i filtry -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.apress.bookstore.listeners.BookstoreContextListener</listener-class>
	</listener>
	
	<!-- Przetwarzanie żądań aplikacji -->

	<servlet>
		<servlet-name>bookstore</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/bookstore/bookstore-servlet.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/applicationContext.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>imageURL</param-name>
			<param-value>/bookstore/images</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>bookstore</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/home.html</welcome-file>
	</welcome-file-list>

</web-app>
